.hero {
  background-image: url("../../images/aa.jpg  ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.hero .hero-content {

  justify-content: space-between;
  top: 0;
}

.hero .heading {
  flex-basis: 40%;
}

.hero .form {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;  /* Adjust as needed for spacing around the form */
}

.hero .form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;  /* Adjust as needed for spacing between form fields */
}

.hero .form-field label {
  /* Style for labels - adjust as needed */
}

.hero .form-field input,
.hero .form-field select,
.hero .form-field textarea {
  
}

.hero .container {
  padding-top: 5%;
}
.hero h1 {
  color: #fff;
  font-size: 60px;
}
.hero p {
  color: #fff;
  opacity: 0.8;
}
.hero .form {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;  
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black background */
  border-radius: 5px;
}

.hero .form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;  
}

.hero .form-field label {
  color: #fff;  /* White color for labels */
}

.hero .form-field input,
.hero .form-field select,
.hero .form-field textarea {
  background-color: #222;  /* Dark color for input fields */
  color: #fff;  /* White color for text */
  border: 1px solid #555;  /* Darker border color */
}

.hero .container {
  padding-top: 5%;
}

.hero h1, .hero p, form {
  color: #fff;  /* White color for text */
}

form input::placeholder {
  color: #ccc;  /* Light grey color for placeholders */
}
@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
}
